@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.menu {
  background-color: black;

  &__header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__name {
      color: whitesmoke;
      width: 100%;
      text-align: center;
      font-size: 2rem;
      font-family: 'Acme', sans-serif;
      margin-left: -20px;
    }

    &__text {
      font-family: 'Acme', sans-serif;
      color: #a5a5a5;
      font-size: 1.2rem;
      margin-top: 1rem;
      width: 100%;
      text-align: center;
      margin-left: -20px;
    }
  }
}
